/* Font settings */
$baseFontFamily: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
$secondFontFamily: alcubierre, "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
$fontColourNormal: #2D2D2D;
$fontSizeSmall: 10px;
$fontSizeNormal: 12px;
$fontSizeMedium: 15px;
$fontSizeLarge: 20px;
$fontSizeExtraLarge: 30px;

/* Colour settings */
$callToAction1Background: #5CB1DA;
$black: #1b1b1b;
$white: #ffffff;
$backgroundColor: #F1F1F1;
$widgetColor: $white;
$veryLightGrey: #f2f2f2;
$lightGrey: #E7E7E7;
$midGrey: #CCC;
$darkGrey: #6e6e6e;

/* Colours */
$lightBlue: #3b6f80;
$midBlue: #284363;
$blue: #092051;
$lightGreen: #bdffc5;
$midGreen: #52a33d;
$darkGreen: #325530;
$linkColour: #2b3fda;
$linkColourHover: #5CB1DA;
$facebookBlue: #3B5998;
$googleRed: #F44336;
$notification: #ff5a3d;
$darkRed: #a1222a;


/* Radius settings */
$radiusSmall: 2px;
$radiusMedium: 6px;
$radiusLarge: 10px;
$radiusExtraLarge: 10px;

/* Border widths */
$borderWidthMain: 2px;

/* FOOTER HEIGHT */
$footerHeight: 330px;

/* z-index values */
// A decent article on z-index. His example of functioning the values seems a tad over kill as the unused values don't get sent to the client anyway.
// https://css-tricks.com/handling-z-index/
$zindex_highest: 10000; //eg this should be used for the likes of the dialog box, ie something that should always trump all other zindexes
$zindex_highest_sub1: 9000; //eg the base index for the fixed header and its burger king menu, this needs to trump eveything else on the page bar the dialog
$zindex_highest_sub2: 8000;
$zindex_highest_sub3: 7000;
$zindex_highest_sub4: 6000;
$zindex_middle: 5000;
$zindex_middle_sub1: 4000;
$zindex_middle_sub2: 3000;
$zindex_middle_sub3: 2000;
$zindex_middle_sub4: 1000;
$zindex_lowest: 1;

/* General margins */
$spacerMargin_small: 5px;
$spacerMargin_std: 10px;
$spacerMargin_double: 20px;

/* Main dimensions */
$widthDesktopMain: 960px;
$widthTabletPortrait: 550px;
$widthTabletLandscape: 768px;
$widthMobileMain: 400px;
$widthMobileSmall: 333px;
$headerHeight: 50px;

/* Main dimensions (from Bootstrap) */
$extraSmallDevices: 767px; //phones
$smallDevices: 991px; //tablets
$mediumDevices: 1199px; //Desktops
$largeDevices: 1200px; //TVs - use for min-width only!