@mixin greyTransparent100(){
	background-color: rgba(255, 255, 255, 1);
}
@mixin greyTransparent75(){
	background-color: rgba(255, 255, 255, 0.75);
}
@mixin greyTransparent50(){
	background-color: rgba(255, 255, 255, 0.5);
}
@mixin greyTransparent25(){
	background-color: rgba(255, 255, 255, 0.25);
}