// for body gradient
$bd-gd-darkblue1: #0b1a27;
$bd-gd-darkblue2: #0f2940; //rgba(11,26,39,1)


$hd-gd-dark: #092541;
$hd-gd-light: #153b5f;

$white: #f7f7f7;
$blue-gd-dark1: #050d15;
$blue-gd-dark2: #10273b;
$blue-gd-mid1: #002949;
$blue-gd-mid2: #005e99;
$blue-gd-light1: #296eb7;
$blue-gd-light2: #60aed7;
$green-gd-1: #046707;
$green-gd-2: #0aaa12;
$red-gd-dark1: #670417;
$red-gd-dark2: #aa0a36;
$red-gd-light1: #c90520;
$red-gd-light2: #e10c4b;


$lightgray: #a6a6a6;
$darkblue: #0b1b29;
$midblue: #005185;
$lightblue: #529ecf;
$green: #08990f;
$darkred: #99082e;
$lightred: #db0a40;