<div class="row header">

    <div class="col-sm-4 logo">
        YOUR APP
    </div>
    <div class="col-sm-4 titles">
        SOME OTHER COOL STUFF
    </div>
    <div class="col-sm-4">
        MORE STUFF
    </div>
</div>