<div class="row header">

    <div class="col-sm-4 header-section">
        YOUR APP
    </div>
    <div class="col-sm-4 header-section">
        SOME OTHER COOL STUFF
    </div>
    <div class="col-sm-4 header-section">
        MORE STUFF
    </div>
</div>