<div class="row form-signin">
    <div class="col-sm-6 col-md-4">
        <div class="account-wall">

            <h1 class="text-center login-title">{{ data.message }}</h1>

            <img class="profile-img" src="/images/png/no-profile.png" alt="">

            <form action="/auth/login" method="post">
                <input type="text"  name="username" class="form-control" placeholder="Email" required autofocus>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

            {% if data.error %}<div class="alert alert-danger">Sorry, something went wrong. Please try again.</div>{% endif %}

            <a href="/register" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>