{% extends '../pageLayout.njk' %}

{% block content %}
    <div class="wrapper {% block wrappingClass %}{% endblock %}">
        {# now set the main block #}
        {% block main_content %}{% endblock %}
    </div>
    {# include the public footer #}
    {% include './snippets/footer.njk' %}

{% endblock %}