
<div class="api-test">
    <input type="text"  name="username" class="" placeholder="GET route to call" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Run</button>
</div>
