
<div class="api-test">
    <h4>Simple api GET test</h4>
    <form novalidate>
        <input type="text"  name="route" class="" placeholder="GET: /api/...    " required autofocus>
        <input class="btn btn-primary btn-block" type="submit" value="Run">
    </form>

    <div class="results-continer">
        <div class="api-result">
            <pre>Results from api...</pre>
        </div>
    </div>
</div>
